* {
  background-color: grey;
}
.links {
  font-size: 2vh;
}
.links a {
  border: 0.2vh solid rgb(146, 146, 190);
}

.quote {
  font-size: 2vh;
}
.about-me-paragraph {
  font-size: 2vh;
}
.email img {
  border-radius: 25% 25%;
  border: 2px solid black;
  max-width: 15%;
}

.resume img {
  border-radius: 20%;
  border: 2px solid black;
  max-width: 10%;
}

.linked-in img {
  border-radius: 50%;
  border: 2px solid black;
  max-width: 10%;
}

footer {
  font-size: 2vh;
}
