header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 10vw;
  gap: 1vh;
  align-items: center;
  font-size: larger;
  flex-wrap: nowrap;
  width: 95vw;
  flex-wrap: wrap;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 40vw;
  justify-content: space-around;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  width: 100vw;
  align-items: center;
}

.quote {
  order: 1;
}

.details-container img {
  order: 2;
  max-width: 20vh;
}

.about-me-paragraph {
  order: 3;
  width: 50vw;
}

.links #projects {
}

.details-about-me img {
  padding-right: 10vw;
  width: 20vh;
  order: 2;
}

/* This is where the footer starts */

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  width: 100vw;
  height: 20vw;
}

.links-container {
  display: flex;
  order: 1;
}

.contact-links p {
  order: 2;
}

.contact-links img {
  display: flex;
  align-self: center;
  margin: auto;
  width: 100%;
}

#feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 50vw;
  max-height: 100vh;
  justify-content: center;
  gap: 1vw;
  margin: auto;
}

#feedback {
  margin: auto;
  height: 10vw;
  width: 50vw;
  gap: 1vw;
}

#feedback-container {
  width: 100vw;
}

/* This is where the footer ends*/
