header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 2vw;
  gap: 1vh;
  align-items: center;
  font-size: larger;
  flex-wrap: nowrap;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20vh;
}

.information {
  display: flex;

  row-gap: 5px;
}

.suggestions-container {
  display: flex;
}
.suggestions {
  display: flex;
}
.feedback-label {
}
.text-box {
  align-self: center;
}
.submit-button {
}

/* This is where the footer starts */
footer {
  row-gap: 1vh;
  display: flex;
  padding-top: 1vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  gap: 6vw;
  width: 100vw;
  height: 10vw;
}

.contact-links img {
  display: flex;
  align-self: center;
  margin: auto;
  width: 100%;
}

.feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 50vw;
  max-height: 100vh;
  justify-content: center;
  gap: 1vw;
  margin: auto;
}

.feedback {
  margin: auto;
  height: 10vw;
  width: 50vw;
  gap: 1vw;
}

.feedback-container {
  width: 100vw;
}

/* This is where the footer ends*/
