body {
  display: grid;
  grid-template-rows: 0.25fr 3fr 0.5fr;
  align-items: center;
  row-gap: 10px;
}

.links {
  display: grid;
  width: 100%;
  height: 100%;
  grid-row: 1;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
}
.links #about-me {
  grid-column: 1/2;
}
.links #home-page {
  grid-column: 2/3;
}

.links #projects {
  grid-column: 3/4;
}
.form {
  display: grid;
  grid-row: 2;
  grid-template-rows: 0.25fr 1fr;
  justify-items: center;

  align-items: center;
}

.information {
  display: grid;
  grid-row: 1/2;
  row-gap: 5px;
}

.suggestions-container {
  grid-template-columns: 0.5fr 1fr 0.5fr;
}
.suggestions {
  display: grid;
  grid-column-start: 2;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  justify-items: center;
  align-items: center;
}
#feedback-label {
  display: grid;
  grid-row: 1;
}
#text-box {
  grid-row: 2;
  align-self: center;
  max-width: 100%;
  margin: 5px;
}

#submit-button {
  grid-row: 3;

  max-width: 10%;
  max-height: 10%;
}

/* This is where the footer starts */

.contact-links {
  display: grid;

  max-width: 100%;
  max-height: 100%;
  grid-row: 3;

  align-items: center;
  align-content: center;

  justify-items: center;
}

.contact-links img {
  max-width: 100%;
}

.email {
  max-width: 15%;
  grid-column: 1;
  grid-row: 1;
  align-content: center;
  justify-content: end;
}

#gmail-icon {
  max-width: 100%;
}

.linked-in {
  grid-column: 2;
  grid-row: 1;
  max-width: 11%;
  align-content: center;
  justify-content: center;
}

#linked-in-icon {
  max-width: 100%;
}

.resume {
  grid-column: 3;
  grid-row: 1;
  max-width: 20%;
  justify-content: start;
  align-content: center;
}
#resume-icon {
  max-width: 100%;
}

.contact-links p {
  grid-column: 2;
}

/* This is where the footer ends*/
