body {
  background-color: grey;
}

.form input,
textarea,
button {
  border: 2px solid black;
}

.email img {
  border-radius: 25% 25%;
  border: 2px solid black;
  max-width: 15%;
}

.resume img {
  border-radius: 20%;
  border: 2px solid black;
  max-width: 10%;
}

.linked-in img {
  border-radius: 50%;
  border: 2px solid black;
  max-width: 10%;
}
