header {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  min-height: 25vh;
  min-width: 45rem;
  gap: 1vh;
  width: 100vw;
}

header h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  order: 2;
}

.links-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  order: 1;
}

.links {
  display: flex;
  gap: 1vw;
  position: fixed;
  width: 21vw;
  justify-content: center;
  border-style: double;
  background-color: azure;
}

.quote-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
  width: 100%;
  min-height: 20vh;
  padding-bottom: 1vh;
  order: 3;
  min-width: 70%;
}

.quote {
  font-size: 3rem;
}

main {
  display: flex;
}

.rows {
  display: flex;
  width: 100vw;

  height: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  min-width: 45rem;
  order: 2;
  width: 100vw;
  justify-content: space-evenly;
}

.row2 {
  display: flex;
  align-content: center;
  min-width: 45rem;
  order: 3;
  width: 100%;
}

.picture-container {
  display: flex;

  align-items: center;
  order: 2;
  border-style: double;
  height: auto;
  width: 45%;
  min-width: 45rem;
}

.picture {
  height: auto;
  width: 100%;
  height: 100%;
  min-height: 30%;
}

.bio-container {
  display: flex;
  order: 1;
  font-size: 2.2rem;
  align-content: space-evenly;
  flex-direction: column;
  height: auto;
  width: 45%;
  min-width: 45rem;
}

.bio-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: aquamarine;
}

.who-i-am {
  justify-content: center;
}
.bio {
  border-style: double;
}

.programming-bio {
  border-style: double;
}

.resume-body {
  height: 100%;
  width: 100%;
}
.resume {
  height: 100%;
  width: 100%;
  border-color: rgb(7, 4, 39);
}
.iframe-container {
  height: 100%;
  width: 100%;
  border-color: rgb(7, 4, 39);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  order: 3;
  border-style: double;
}

.projects-container p {
  font-size: 2rem;
}

.techstack {
  width: 100%;
  font-size: 2.2rem;
  justify-content: flex-end;
}

.skills {
  display: flex;
}
.projects {
  display: flex;
}
.projects .project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 20%;
  border-style: double;
  background-color: azure;
}

/* This is where the footer starts */
footer {
  row-gap: 1vh;
  display: flex;
  padding-top: 1vh;
  width: 100vw;
  min-width: 45rem;
  height: 5%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.name-and-email {
  display: flex;
  width: 100%;
  height: 5%;
}

.name-input {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.name-input input {
  width: 90%;
}

.email-input {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.email-input input {
  width: 90%;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1%;
  margin: auto;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6%;
  width: 100%;
  height: 10%;
}

.contact-links img {
  display: flex;
  align-self: center;
  margin: auto;
  width: 100%;
}

.form-container {
  display: flex;
  width: 70%;
  gap: 1vw;

  align-items: center;
}

.input-area {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  justify-content: center;
}

.form-inner-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 70%;
}

.feedback-label {
  margin: auto;
  height: 10%;
  width: 50%;
  gap: 1vw;
}
.feedback {
  height: 10%;
  width: 50%;
  gap: 1vw;
}

.feedback-container {
  min-width: 100%;
  min-height: 100%;
}

/* This is where the footer ends*/
