header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 2vw;
  gap: 1vh;
  align-items: center;
  font-size: larger;
  flex-wrap: nowrap;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.Software-Developer {
  display: flex;
  padding-top: 1vh;
  margin: 5vw 5vh 5vw 5vh;
  width: 80vw;
  height: 70vh;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.Software-Developer h3 {
  display: flex;
  width: 30vw;
  order: 2;
  max-height: 5vh;
  min-width: 10vw;
  max-width: 90vw;
}

.Software-Developer #description {
  display: flex;
  width: 50vw;
  height: 30vh;
}

.Software-Developer div {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3vh;
  align-items: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.Software-Developer img {
  padding-right: 10vw;
  width: 50vh;
  order: 1;
}

/* This is where the footer starts */
footer {
  row-gap: 1vh;
  display: flex;
  padding-top: 1vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  gap: 6vw;
  width: 100vw;
  height: 10vw;
}

.contact-links img {
  display: flex;
  align-self: center;
  margin: auto;
  width: 100%;
}

#feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 50vw;
  max-height: 100vh;
  justify-content: center;
  gap: 1vw;
  margin: auto;
}

#feedback {
  margin: auto;
  height: 10vw;
  width: 50vw;
  gap: 1vw;
}

#feedback-container {
  width: 100vw;
}

/* This is where the footer ends*/
