* {
  background-color: grey;
}

.about-virtual-pet {
  font-size: 1vh;
}
.email img {
  border-radius: 25% 25%;
  border: 2px solid black;
  max-width: 15%;
}

.resume img {
  border-radius: 20%;
  border: 2px solid black;
  max-width: 10%;
}

.linked-in img {
  border-radius: 50%;
  border: 2px solid black;
  max-width: 10%;
}
footer {
  font-size: 2vh;
}
