body {
  display: flex;
  flex-template-rows: 10% 60% 30%;
  row-gap: 50px;
}

.links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-items: center;

  flex-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}
.links #about-me {
  display: flex;
  flex-column: 1/2;
}
.links #home-page {
  display: flex;
  flex-column: 2/3;
}

.links #projects {
  display: flex;
  flex-column: 3/4;
}

img {
  max-width: 100%;

  align-items: center;
}
/* This is where the footer starts */

.contact-links {
  display: flex;

  max-width: 100%;

  align-items: center;
  align-items: baseline;
  justify-items: center;
}
.links-container {
  display: flex;
  flex-template-columns: 33% 34% 33%;
  max-width: 70%;
  align-items: baseline;
  justify-items: center;
}

.contact-links img {
  max-width: 100%;
}

.email {
  max-width: 20%;
  flex-column: 1;
  flex-row: 1;
  align-content: center;
  justify-content: end;
}

#gmail-icon {
  max-width: 100%;
}

.linked-in {
  flex-column: 2;
  flex-row: 1;
  max-width: 20%;
  align-content: center;
  justify-content: center;
}

#linked-in-icon {
  max-width: 100%;
}

.resume {
  flex-column: 3;
  flex-row: 1;
  max-width: 20%;
  justify-content: start;
  align-content: center;
}
#resume-icon {
  max-width: 100%;
}
/* This is where the footer ends*/
